.list-wrapper {
    background-color: var(--primary-color);
    border: 1px solid black;
    box-sizing: border-box;
    box-shadow: 0 0 5px black;
    
}
.header {
    padding: 10px;
    box-sizing: border-box;
    background-color: var(--dark-color);
    font-size: var(--title-font-size);
    color: var(--font-color);
    border-bottom: 1px solid black;
}
.descriptor {
    color: var(--font-color);
    font-size: var(--title-font-size);
    padding: 50px;
}
.reference {
    text-decoration: underline;
    color: var(--secondary-color);
}
.list-container {
    max-height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.table {
    padding: 50px;
    max-height: 500px;
    box-sizing: border-box;
    color: var(--font-color);
    margin: 0;
    overflow-y: auto;
}
.table-row {
    
}
.table-cell {
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}
.cross {
    font-size: var(--cross-size);
    user-select: none;
    opacity: 0.5;
    cursor: default;
}
.available {
    cursor: pointer;
    opacity: 1;
    transition: var(--main-transition);
}
.available:hover {
    scale: 1.3;
}