.header {
    width: 100%;
    height: 100%;
    background-color: var(--header-color);
    border-bottom: 1px solid black;
    box-shadow: 0 0 5px black;
}
.header-items-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    padding: 10px;
    box-sizing: border-box;
}
.item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--font-color);
    text-decoration: none;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
    transition: var(--main-transition);
    font-size: var(--title-font-size);
}
.item:hover {
    background-color: var(--header-color-hover);
}